<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UserEndPointServiceSoapBinding" maxReceivedMessageSize="2147483647"/>
                <binding name="HousesEndpointServiceSoapBinding" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.17.221.193:8080/RealEstateBroker/UserEndPoint"
                binding="basicHttpBinding" bindingConfiguration="UserEndPointServiceSoapBinding"
                contract="UserEndPoint.UserEndPoint" name="UserEndPointPort" />
            <endpoint address="http://172.17.221.193:8080/RealEstateBroker/HousesEndpoint"
                binding="basicHttpBinding" bindingConfiguration="HousesEndpointServiceSoapBinding"
                contract="HousesEndpoint.HousesEndpoint" name="HousesEndpointPort" />
        </client>
    </system.serviceModel>
</configuration>